@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/* font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
 */

html {
    /* Para generar scroll animados desde un punto de ancla */
    scroll-behavior: smooth;
}

:root {
    /* aqui es donde defino variables que se van a repetir en mi codigo, por ejemplo, en lugar de repetir 40 veces un color, usamos este metodo */
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuente-principal: 'Montserrat', sans-serif;
    --fuente-secundaria:'Handlee', cursive;
    --fontsize: 1em;
    --anchomaximo: 68.750em;
    --margingrid: 1em;
    --padding: 0.625em;
}

img {
    width: 100%;
    height: auto;
    display: block;
    /* Esto hace que la imagen escale y sea RESPONSIVE, se puede aplicar a todos los proyectos que tengan imagenes */
}

body {
    font-family: var(--fuente-principal);
    font-size: var(--fontsize);
}

.content p {
    color:#666;
    line-height: 1.25em;
}

.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;

}

/* START HEADER */

header .nav-top {
    background-color: var(--color-secundario);
    padding: calc(var(--margingrid) *1.5) 0px;
}

header .nav-top .container {
    display: flex;
    justify-content: space-around;
}


header .nav-top a {
    color: var(--color-principal);
    text-decoration: none;

}

header .nav-top a span {
    display: none;
}

header .nav-top a i {
    font-size: 120%;
}

header nav {
    padding: calc(var(--padding) * 1.5);
}

header nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav .logo a img {
    max-width: 6.250em;
}


header nav .hamburguesa {
    cursor: pointer; 
}

header nav .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: var(--padding);
    width: 1.875em;    
}

header nav ul {
    width: 100%;    
}

header nav .menu li a {
    text-decoration: none;
    color: #aaa;
    display: block;
    border-bottom: 1px solid #aaa;
    text-align: center;
    padding: calc(var(--padding) * 2);
}

header nav .menu li:last-child a{
        border-bottom: none;
}

header nav .menu li .activo, header nav .menu li a:hover {
    color: var(--color-principal);
    transition: 1s;
}

/* HEADER END */
/* START FOOTER */

footer {
    background-color: var(--color-secundario);
    padding: calc(var(--padding) * 2) 0px;
    color:whitesmoke;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 90%;
}

footer a {
    color:whitesmoke;
    text-decoration: none;
}

footer a:hover {
    color:var(--color-principal)
}

.flecha a {
    display: block;
    color: var(--color-principal);
    position: fixed;
    bottom: 70px;
    right: 10px;
    font-size: 250%;
}
/* FOOTER END */
/* START HERO */

.hero {
    background-image: url(../images/fondo.jpg);
    height: 60vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    display: flex;
    background-color: rgba(5, 5, 5, 0.5);
    background-blend-mode: multiply;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.hero h1 {
    font-family: var(--fuente-secundaria);
    font-size: 2.25em;
}

.hero .container h3 {
    color: var(--color-principal);
    font-size: 1.25em;
    margin: var(--margingrid) 0px;
}

.hero p {
    font-size: 1.15em;
}


.hero .social li {
    display: inline-block;
    margin-right: var(--margingrid);
    font-size: 1.5em;
}   

.hero .social li a {
    color:whitesmoke;
}

.boton {
    background-color: var(--color-principal);
    color:whitesmoke;
    display: inline-block;
    padding: 1.15em;
    margin: var(--margingrid) 0px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid var(--color-principal);
}

.boton:hover {
    background-color: transparent;
    border: 1px solid var(--color-principal);
    color:var(--color-principal);

}

.boton:hover i {
    transform: translateX(5px);
    transition: 0.5s;
}
/* HERO END */
/* START MAIN OUR SERVICES */

.content section {
    padding: 2.125em 1.5em;
}

.content section h2 {
    font-family: var(--fuente-secundaria);
    font-size: 1.5em;
    text-align: center;
}

.content section h2 span {
    color:var(--color-principal);
}

.content .underline {
    position: relative;
    width: 6.250em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: 700;
    text-align: center;
    margin-bottom: var(--margingrid);
}

.content .underline hr{
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--color-principal);
}

.content section .grid {
    display: grid;
    gap: var(--margingrid);
}

.content #ourservices .grid article {
    border-bottom: 1px solid #aaa;
    padding: 1.5em 0;
}

main section h3 {
    font-weight: 700;
    font-size: 1.10em;
    margin: var(--padding) 0;
}

.enlace {
    color: var(--color-principal);
    text-decoration: none;
    padding-top: var(--padding);
    display: inline-block;
    font-weight: 700;
}

.enlace i{
    transition: 0.5s;
}

.enlace:hover i {
    transform: translateX(5px);
    
}
.content .grid article>div>i {
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
    padding: 0.5em;
}

.fa-truck {
    transform: rotateY(180deg)
}

/* OUR SERVICES END */
/* START ABOUT US */

main section:last-child{
    padding-bottom: 70px;
}

main section h4 {
    margin: var(--margingrid) 0;
    color:var(--color-principal);

}

main section .flex {
    display: flex;
    flex-direction: column;
}

main .imagen .marco{
    border: 5px solid var(--color-principal);
    transform: rotateZ(10deg);
    transition: 1s;
}

main .imagen .marco img {
    transform: rotate(-10deg);
    transition: 1s;
}

main .imagen:hover .marco {
    transform: rotateZ(0deg);
}


main .imagen:hover img {
    transform: rotateZ(0deg);
}

/* ABOUT US END */
/* MEDIAQUERIES */

@media(min-width: 600px){
    .content #ourservices .grid {
        grid-template-columns: 1fr 1fr;
    }

    .content #ourservices .grid article:last-child {
        grid-column: 1/3;
    }
    .content #ourservices .grid article {
        border-bottom: none;
        border-left: 1px solid #aaa;
        padding: 1.5em;
    }
    main section .flex {
        flex-direction: row;
    }

    main section .flex .columna {
        margin: var(--margingrid);
    }
}


@media(min-width: 768px){
    header .nav-top a span {
        display: inline;
        color:whitesmoke;
        margin-left: 5px;
    }
    .content #ourservices .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .content #ourservices .grid article:last-child {
    grid-column: 3/4;
    }
}

@media(min-width: 1004px) {
    header nav .hamburguesa {
        display: none; 
    } 
    header nav ul {
         width: auto;   
    }
    header nav .menu li {
        display: inline-block;
    }
    header nav .menu li a {
        padding: 0.5em var(--padding);
        border-bottom: none;
    }
    header {
        box-shadow: 0px 1px 30px #aaa;
        border-radius: 2px;
    }
    footer {
        text-align: left;
    }
}
